{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block content %}
<main class="main">
    <h1>Card</h1>
    <p>Test</p>
</main>

{# <a href="{{ path("about") }}">About</a> #}

{% endblock %}